@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url(../assets/Lato-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  font-weight: 500;
  src: url(../assets/Lato-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(../assets/Lato-Bold.ttf) format("truetype");
}

@c_alt: #555555;
@c_bg_dark: #333333;

html {
	font-family: Lato, Arial, sans-serif;
}

body {
	& > div {
		z-index: 100;

		display: flex;
		flex-flow: column;

		background: white;
	}
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 1px solid @c_alt;

	#header-input {
		label {
			display: flex;
			align-items: center;
			cursor: pointer;
			
			input {
				border: none;
				padding: 0px;
				margin: 0px;

				transition: width 1s;

				&[type=color]::-webkit-color-swatch-wrapper {
					padding: 0px;
				}
				&[type=color]::-moz-color-swatch {
					border: none;
				}
			}

			span {
				text-align: center;
				font-size: 1.5em;
			}
		}
	}
}

.burger {
	display: none;
}
aside {
	grid-row: 1;

	display: flex;
	flex-direction: column;

	transition: all 1s;

	& > article {
		display: flex;
		align-items: center;
		cursor: pointer;

		height: 2.5rem;
	}

	&#favourites {
		justify-self: end;
		
		& > article {
			&#favourites-add {
				font-weight: 700;
			}
		}
	}
}

main {
	display: flex;
	align-items: center;
	flex-direction: column;

	padding: 0.5rem;

	hr {
		border: none;
		border-top: 1px inset;
		border-color: #EEEEEE;
		width: 100%;
	}

	article {
		width: 100%;
		& > h1 {
			text-align: center;
		}
	}
}
#conversions {
	display: flex;
	flex-direction: column;
	align-items: center;
	table {
		transition: font-size 1s;
		tr {
			display: flex; // Apparently table rows cannot have padding or margins... wtf?!
			padding: 0.2rem;

			cursor: pointer;
			transition-property: background-color, color;
			transition-duration: 0.5s, 0.5s;

			td {
				text-align: left;
				min-width: 12em;
				font-weight: 300;

				transition: width 1s;

				&.name {
					font-weight: 700;
					min-width: 7em;
				}
				&.conversion {

				}
				&.conversion-nocode {
					flex-grow: 2;
				}
				&.conversion-code {
					
				}
			}
		}
	}
}

#schemes {
	& > div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	section {
		display: flex;
		flex-direction: column;
		align-items: center;

		& > canvas {
			display: none;
			margin: auto;

			position: absolute;
			transform: translateY(-100%);
			padding: 1rem;
			background: white;
			box-shadow: 0px 0px 5px 0px black;
		}
		&:hover > canvas {
			display: block;
		}

		& > ul {
			display: flex;
			justify-content: center;
			padding: 0;
			margin: 0;
			li {
				display: flex;
				justify-content: center;
				align-items: center;

				list-style: none;

				width: 5rem;
				height: 7rem;
				
				cursor: pointer;
				box-sizing: border-box;
				
				span {
					display: none;
					font-weight: 500;
				}
				&:hover {
					span {
						display: inline;
					}
				}
			}
		}

		& > h3 {
			margin: 0;
			text-align: center;
		}
		margin: 0.5rem;
	}

	#complementary-colors {
		
	}
}

#preview {
	& > div {
		display: flex;
		flex-wrap: wrap;
	}

	article {
		display: flex;
		align-items: center;
		justify-content: center;
		
		width: calc(50% ~"-" 0.4rem);
		box-sizing: border-box;
		height: 4rem;
		margin: 0.2rem;

		span {
			margin-left: 0.3em;
			font-weight: bold;
		}
	}

	article:nth-child(3) {
		border-width: 5px;
		border-style: solid;
		box-sizing: border-box;
	}
	article:nth-child(4) {
		cursor: pointer;
		transition-property: background-color, color;
		transition-duration: 0.5s, 0.5s;
	}
}

footer {
	border-top: 1px solid @c_alt;
	padding: 0.5rem;
	color: white;

	background-color: @c_bg_dark;
}