@font-face {
  font-family: "Lato";
  font-weight: 300;
  src: url(../assets/Lato-Light.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  font-weight: 500;
  src: url(../assets/Lato-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Lato";
  font-weight: 700;
  src: url(../assets/Lato-Bold.ttf) format("truetype");
}
html {
  font-family: Lato, Arial, sans-serif;
}
body > div {
  z-index: 100;
  display: flex;
  flex-flow: column;
  background: white;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #555555;
}
header #header-input label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header #header-input label input {
  border: none;
  padding: 0px;
  margin: 0px;
  transition: width 1s;
}
header #header-input label input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0px;
}
header #header-input label input[type=color]::-moz-color-swatch {
  border: none;
}
header #header-input label span {
  text-align: center;
  font-size: 1.5em;
}
.burger {
  display: none;
}
aside {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}
aside > article {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 2.5rem;
}
aside#favourites {
  justify-self: end;
}
aside#favourites > article#favourites-add {
  font-weight: 700;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}
main hr {
  border: none;
  border-top: 1px inset;
  border-color: #EEEEEE;
  width: 100%;
}
main article {
  width: 100%;
}
main article > h1 {
  text-align: center;
}
#conversions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#conversions table {
  transition: font-size 1s;
}
#conversions table tr {
  display: flex;
  padding: 0.2rem;
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.5s, 0.5s;
}
#conversions table tr td {
  text-align: left;
  min-width: 12em;
  font-weight: 300;
  transition: width 1s;
}
#conversions table tr td.name {
  font-weight: 700;
  min-width: 7em;
}
#conversions table tr td.conversion-nocode {
  flex-grow: 2;
}
#schemes > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#schemes section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}
#schemes section > canvas {
  display: none;
  margin: auto;
  position: absolute;
  transform: translateY(-100%);
  padding: 1rem;
  background: white;
  box-shadow: 0px 0px 5px 0px black;
}
#schemes section:hover > canvas {
  display: block;
}
#schemes section > ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
#schemes section > ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 5rem;
  height: 7rem;
  cursor: pointer;
  box-sizing: border-box;
}
#schemes section > ul li span {
  display: none;
  font-weight: 500;
}
#schemes section > ul li:hover span {
  display: inline;
}
#schemes section > h3 {
  margin: 0;
  text-align: center;
}
#preview > div {
  display: flex;
  flex-wrap: wrap;
}
#preview article {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(50% - 0.4rem);
  box-sizing: border-box;
  height: 4rem;
  margin: 0.2rem;
}
#preview article span {
  margin-left: 0.3em;
  font-weight: bold;
}
#preview article:nth-child(3) {
  border-width: 5px;
  border-style: solid;
  box-sizing: border-box;
}
#preview article:nth-child(4) {
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.5s, 0.5s;
}
footer {
  border-top: 1px solid #555555;
  padding: 0.5rem;
  color: white;
  background-color: #333333;
}
