@media (max-width: 1023px) {
	html {
		overflow-x: hidden;
	}
	
	body {
		overflow-x: hidden;

		display: grid;
		grid-template-columns: 10% 80% 10%;

		margin: 0px;
		& > div {
			grid-column-start: 1;
			grid-column-end: 4;
			grid-row: 1;
		}
	}

	h1 {
		margin: 0 0 0.5em 0;
	}

	@header_height: 3.5rem;
	header {
		height: @header_height;

		#header-logo {
			display: none;
		}

		#header-input {
			@input_width: 100vw;

			label {
				width: @input_width;
				
				input {
					width: @input_width;
					height: @header_height;
				}

				span {
					width: @input_width;
					margin-left: -@input_width;
				}
			}
		}

		#header-suggestion {
			display: none;
		}
	}

	.burger-label {
		z-index: 210;
		align-self: start;
		&[for=burger-history] {
			grid-column: 1;
			grid-row: 1;
		}
		&[for=burger-favourites] {
			grid-column: 3;
			grid-row: 1;
			justify-self: end;
		}
		
		height: @header_height;
		width: @header_height / 0.88;
		padding: @header_height / 6.3;
		box-sizing: border-box;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@burger_line_size: @header_height / 7.333;
		& > div {
			height: @burger_line_size;
		}
	}
	.burger:checked ~ aside {
		box-shadow: 0px 4px 4px 0px black;
	}
	@aside_width: 9rem;
	#burger-history:checked ~ #history {
		transform: none;
	}
	#burger-favourites:checked ~ #favourites {
		transform: none;
	}
	aside {
		width: @aside_width;

		z-index: 200;
		height: calc(100% ~"-" @header_height);
		background: white;
		box-shadow: none;
		
		margin-top: @header_height;
		
		transition: transform 0.5s, box-shadow 0.5s;

		& > article {
			justify-content: center;
			width: 100%;
		}

		&#history {
			grid-column: 1;
			transform: translateX(-@aside_width);
		}

		&#favourites {
			grid-column: 3;
			transform: translateX(@aside_width);
		}
	}
}

@media (max-width: 799px) {		
	#conversions {
		table {
			font-size: 0.9em;
		}
	}
	
	#preview {
		article {
			margin-top: 0.4rem;
			width: 100%;
		}
	}
}
@media (max-width: 529px) {
	#conversions {
		table {
			font-size: 0.9em;
			tr {
				td {
					&:nth-child(3) {
						display: none;
					}
				}
			}
		}
	}

	#preview > div {
		font-size: 0.9em;
	}
}
@media (max-width: 369px) {
	#conversions {
		table {
			font-size: 1em;
			tr {
				td {
					&:nth-child(1) {
						display: none;
					}
					&:nth-child(3) {
						display: none;
					}
				}
			}
		}
	}

	#schemes {
		section {
			& > ul {
				li {
					width: 4rem;
					height: 7rem;
				}
			}
		}
	}

	#preview > div {
		font-size: 0.8em;
	}
}