@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: auto 2rem 80% 2rem auto;
    margin: 0px;
  }
  body > div {
    grid-column: 3;
    grid-row: 1;
    margin: 2rem 0;
    box-shadow: 0px 0px 7px -2px black;
  }
  h1 {
    margin: 0 0 0.5em 0;
  }
  header {
    height: 2.2rem;
    padding: 0.5rem 1rem;
  }
  header #header-logo h1 {
    margin: auto;
  }
  header #header-input label {
    width: 20rem;
  }
  header #header-input label input {
    width: 20rem;
    height: 2.2rem;
  }
  header #header-input label span {
    width: 20rem;
    margin-left: -20rem;
  }
  header #header-suggestion {
    display: flex;
    align-items: center;
    color: black;
  }
  header #header-suggestion span {
    font-weight: bold;
    margin-left: 0.5em;
    font-size: 1.1em;
    text-align: center;
    width: 4.5em;
    transition: opacity 1s;
    cursor: pointer;
  }
  .burger-label {
    display: none;
  }
  aside {
    width: calc(2rem + 4rem);
    z-index: 10;
    margin-top: 5.5rem;
  }
  aside > article {
    width: calc(2rem + 4rem);
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px black;
    transition: transform 0.5s;
  }
  aside > article:nth-child(n + 2) {
    margin-top: 0.3rem;
  }
  aside#history {
    grid-column: 2;
  }
  aside#history > article {
    padding-left: 0.5rem;
  }
  aside#history > article:hover {
    transform: translateX(-4rem);
  }
  aside#favourites {
    grid-column: 4;
  }
  aside#favourites > article {
    padding-right: 0.5rem;
    justify-content: right;
  }
  aside#favourites > article:hover {
    transform: translateX(4rem);
  }
}
