@media (min-width: 1024px) {
	@aside_width_peek: 2rem;
	body {
		display: grid;
		grid-template-columns: auto @aside_width_peek 80% @aside_width_peek auto;

		margin: 0px;
		& > div {
			grid-column: 3;
			grid-row: 1;

			margin: 2rem 0;
			box-shadow: 0px 0px 7px -2px black;
		}
	}

	h1 {
		margin: 0 0 0.5em 0;
	}

	@header_height: 2.2rem;
	header {
		height: @header_height;

		padding: 0.5rem 1rem;

		#header-logo {
			h1 {
				margin: auto;
			}
		}

		#header-input {
			@input_width: 20rem;

			label {
				width: @input_width;
				
				input {
					width: @input_width;
					height: @header_height;
				}

				span {
					width: @input_width;
					margin-left: -@input_width;
				}
			}
		}

		#header-suggestion {
			display: flex;
			align-items: center;
			
			color: black;

			span {
				font-weight: bold;
				margin-left: 0.5em;
				font-size: 1.1em;

				text-align: center;
				width: 4.5em;

				transition: opacity 1s;
				cursor: pointer;
			}
		}
	}

	.burger-label {
		display: none;
	}
	aside {
		@aside_width_rest: 4rem;
		@aside_width: calc(@aside_width_peek ~"+" @aside_width_rest);

		width: @aside_width;
		z-index: 10;
		
		margin-top: 5.5rem;
		& > article {
			width: @aside_width;
			box-sizing: border-box;
			
			box-shadow: 0px 0px 5px 0px black;
			transition: transform 0.5s;

			&:nth-child(n + 2) {
				margin-top: 0.3rem;
			}
		}

		&#history {
			grid-column: 2;

			& > article {
				padding-left: 0.5rem;
				&:hover {
					transform: translateX(-@aside_width_rest)
				}
			}
		}

		&#favourites {
			grid-column: 4;

			& > article {
				padding-right: 0.5rem;
				justify-content: right;
				&:hover {
					transform: translateX(@aside_width_rest)
				}
			}
		}
	}
}