@media (max-width: 1023px) {
  html {
    overflow-x: hidden;
  }
  body {
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: 0px;
  }
  body > div {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
  }
  h1 {
    margin: 0 0 0.5em 0;
  }
  header {
    height: 3.5rem;
  }
  header #header-logo {
    display: none;
  }
  header #header-input label {
    width: 100vw;
  }
  header #header-input label input {
    width: 100vw;
    height: 3.5rem;
  }
  header #header-input label span {
    width: 100vw;
    margin-left: -100vw;
  }
  header #header-suggestion {
    display: none;
  }
  .burger-label {
    z-index: 210;
    align-self: start;
    height: 3.5rem;
    width: 3.97727273rem;
    padding: 0.55555556rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .burger-label[for=burger-history] {
    grid-column: 1;
    grid-row: 1;
  }
  .burger-label[for=burger-favourites] {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
  }
  .burger-label > div {
    height: 0.47729442rem;
  }
  .burger:checked ~ aside {
    box-shadow: 0px 4px 4px 0px black;
  }
  #burger-history:checked ~ #history {
    transform: none;
  }
  #burger-favourites:checked ~ #favourites {
    transform: none;
  }
  aside {
    width: 9rem;
    z-index: 200;
    height: calc(100% - 3.5rem);
    background: white;
    box-shadow: none;
    margin-top: 3.5rem;
    transition: transform 0.5s, box-shadow 0.5s;
  }
  aside > article {
    justify-content: center;
    width: 100%;
  }
  aside#history {
    grid-column: 1;
    transform: translateX(-9rem);
  }
  aside#favourites {
    grid-column: 3;
    transform: translateX(9rem);
  }
}
@media (max-width: 799px) {
  #conversions table {
    font-size: 0.9em;
  }
  #preview article {
    margin-top: 0.4rem;
    width: 100%;
  }
}
@media (max-width: 529px) {
  #conversions table {
    font-size: 0.9em;
  }
  #conversions table tr td:nth-child(3) {
    display: none;
  }
  #preview > div {
    font-size: 0.9em;
  }
}
@media (max-width: 369px) {
  #conversions table {
    font-size: 1em;
  }
  #conversions table tr td:nth-child(1) {
    display: none;
  }
  #conversions table tr td:nth-child(3) {
    display: none;
  }
  #schemes section > ul li {
    width: 4rem;
    height: 7rem;
  }
  #preview > div {
    font-size: 0.8em;
  }
}
